#body{
    margin: 0;
    padding: 0;
    background-color: #b2dfdb
}
#game-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 220px;
    color:black;
}
#submit-game{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#submittedGameName{
}
#submit-button{
    margin-top: 15px;
}
#game-content h1{
    display: flex;
    justify-content: center;
}
#emojis {
    display: flex;
    justify-content: center;
}
#submit-game{
    display: flex;
    justify-content: center;
}
#result{
    display: flex;
    justify-content: center;
}
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }